/* Back to Homepage button */
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3; /* Higher z-index than other content */
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .back-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }


.gradient-custom {
    /* fallback for old browsers */
    background: grey;
    
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }
    
    .card-registration .select-arrow {
        top: 13px;
    }