
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
 font-family: 'Inter', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}


body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Misc */
.horizontal-line {
 width: 100%; /* Full width */
 height: 1px; /* Line thickness */
 background-color: #ccc; /* Grey color */
 margin: 10px 0; /* Space above and below the line */
}

/* Main Content Section */
.main-content {
  margin-left: 0; /* Start with no margin to account for hidden sidebar */
  transition: margin-left 0.5s ease; /* Smooth transition for margin */
  position: relative; /* Keep it relative for positioning */
}

/* Adjust margin when the sidebar is active */
.main-content.active {
 margin-left: 250px; /* Add margin to account for visible sidebar */
}

.container-wrapper {
 padding: 0px 70px;
 display: flex;
 flex-direction: column;
 justify-content: space-between; /* Distributes cards evenly with space in between */
 gap: 10px; /* Adds space between each item */
}


/* info-container Section */
.info-container {
    width: 100%;
    background-color: #F6F6F6; /* Light background */
    padding: 15px 0px; /* Padding for spacing */
    border-radius: 10px; /* Rounded corners */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); Box shadow for depth */
}


/* Title styles */
.info-title {
    font-size: 24px;
    font-weight: 600;
}

/* Date picker styles */
.date-picker .btn {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
}

.date-text {
    font-size: 16px;
    font-weight: 500;
}

.right-section {
    justify-content: flex-end; /* Aligns the section to the right */
}

.date-time-container {
   gap: 10px; /* Adds space between the date and the icon */
   padding: 10px;
   border: 1px solid lightgray;
   border-radius: 15px;
   color: #000000;
   background-color: lightgrey;
   text-align: baseline;
}

.date-time-container h6 {
   margin: 0;
   font-size: 14px; /* Adjust the font size as needed */
}

.date-time-container i {
   font-size: 16px; /* Adjust the icon size if necessary */
   color: #000; /* Icon color, adjust as needed */
}


/* Right section button styles */
.right-section .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}


.btn-success {
    background-color: #116530; /* Custom green */
    color: white;
}

.btn-outline-secondary {
    color: #6c757d;
}


/* Dashboard Cards Container */
.dashboard-cards {
 display: flex; /* Flexbox for layout */
 flex-wrap: wrap; /* Allow wrapping of cards */
 justify-content: flex-start; /* Align cards to the left */
 gap: 5px; /* Space between cards */
 padding: 0px 0px;
 height: 15vh; /* Increased container height for better card proportion */
}

.card {
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
 display: flex;
 flex-direction: column;
 width: calc(15% - 15px); /* Responsive width with spacing accounted */
 height: 100%; /* Card height will match container height */
}

.dashboard-cards-one {
 width: calc(30% - 5px); /* Wider card that still aligns with spacing */
 height: 100%; /* Matches container height */
}

.dashboard-cards-two {
 width: calc(30% - 5px); /* Same width calculation as the first card */
 height: 100%; /* Matches the height of the parent container */
 background-color: #ffffff; /* White background for the card */
 border-radius: 10px; /* Rounded corners */
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft shadow */
 display: flex;
 flex-direction: column; /* Maintain column layout if needed */
}

.dashboard-cards-four {
 width: calc(25% - 5px); /* Same width calculation as the first card */
 height: 100%; /* Matches the height of the parent container */
 background-color: #ffffff; /* White background for the card */
 border-radius: 10px; /* Rounded corners */
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft shadow */
 display: flex;
 flex-direction: column; /* Maintain column layout if needed */
}

.dcard-header {
  padding: 15px 20px 0px 20px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dcard-header h3{
  font-size: 0.7rem;
  color: #7c7c7c; /* Darker text for better contrast */
  font-weight: 600;
}

.view-button a {
  padding-bottom: 10px;
}

.dashboard-cards-one .dcard-body {
 display: flex;
 flex-direction: row;
 align-items: center; /* Center items vertically */
 justify-content: center; /* Center items horizontally */
 padding: 20px 20px;
}

.month-transaction {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 5px 10px; /* Add some padding */
 width: 120px; /* Set a fixed width or adjust as needed */
 height: 60px; /* Set a fixed height or adjust as needed */
}


.month-transaction h3 {
 font-size: 26px; /* Increased font size for the number */
 color: #333; /* Darker text for better contrast */
 margin: 0 0 10px 0; /* Remove default margin */
}

.status-cancelled {
 font-size: 10px; /* Smaller font size for the label */
 color: #c9302c; /* Darker red color for cancelled */
 font-weight: bold; /* Optional: make text bold */
}

.status-unconfirmed {
 font-size: 10px; /* Smaller font size for the label */
 color: #ec971f; /* Darker orange color for unconfirmed */
 font-weight: bold; /* Optional: make text bold */
}

.status-confirmed {
 font-size: 10px; /* Smaller font size for the label */
 color: #4cae4f; /* Darker green color for confirmed */
 font-weight: bold; /* Optional: make text bold */
}

.vertical-line {
 width: 1px;
 background-color: #ccc;
 height: 60px; /* Set a fixed height for the line */
 margin: 0 20px; /* Adjust margin for more spacing */
}

.dashboard-cards-two .dcard-body {
 display: flex;
 flex-direction: row;
 align-items: center; /* Center items vertically */
 justify-content: center; /* Center items horizontally */
 padding: 20px 20px;
}

.dashboard-cards-two .dcard-body span {
 font-size: 10px; /* Smaller font size for the label */
 font-weight: bold; /* Optional: make text bold */
 color: #acacac;
}

.dashboard-cards-two .dcard-body .accent {
 font-size: 8px; /* Smaller font size for the label */
 font-weight: bold; /* Optional: make text bold */
 color: #acacac;
}


.dcard-header h3{
 font-size: 0.8rem;
 color: #7c7c7c; /* Darker text for better contrast */
 font-weight: 600;
}

.dcard-body {
 display: flex;
 flex-direction: row;
 align-items: center; /* Center items horizontally */
}

.dcard-body .currency-content {
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.currency-item {
 text-align: center; /* Center the content */
 border-radius: 10px; /* Rounded corners */
}

.currency-flag {
 width: 40px; /* Set flag width */
 height: 40px; /* Set flag height to match width for perfect circle */
 border-radius: 50%; /* Make flag circular */
 object-fit: cover; /* Ensure the image covers the area properly */
}

.currency-name {
 font-weight: bold; 
 margin-top: 10px; /* Make currency name bold */
 font-size: 10px;

}

.conversion-rate {
 margin-top: -10px;
 font-size: 12px; /* Smaller font for conversion rates */
 color: #555; /* Darker color for visibility */
}














/* Second Row Container */
.second-row-container {
   display: flex;
   flex-direction: row;
   margin-top: 5px;
   gap: 10px;
   position: relative;
   height: 33vh; /* Set height to 40% of the viewport height */
   
}

/* Second Row Container - Div One */
.second-row-container .one {
 width: 50%; /* Set width to 70% */
 background-color: #fff; /* Card background color */
 border-radius: 8px; /* Rounded corners */
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

/* Header styles */
.second-row-container .header {
 width: 100%; /* Full width for the header */
 padding: 10px 20px 0px 20px; /* Padding around the header */
 display: flex; /* Enable flexbox */
 justify-content: center; /* Center contents horizontally */
 height: 50px; /* Fixed height for the header */
 align-items: center;
}

.one .btn {
 padding: 8px 8px; /* Adjust padding for better button size */
 border-radius: 4px; /* Rounded corners for button */
 text-decoration: none; /* Remove underline */
 display: flex; /* Align items in the button */
 align-items: center; /* Center items vertically */
 justify-content: center; /* Center items horizontally */
 text-align: center;
 transition: background-color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effect */
 gap: 8px; /* Optional: Add space between icon and text */
 align-self: first baseline;
}

/* Optional hover effect for better UX */
.one .btn:hover {
 background-color: #0056b3; /* Change background color on hover */
 color: white; /* Change text color on hover */
}

.view-booking-container {
 display: flex; /* Flex display for the button container */
 align-items: center; /* Center items vertically */
}


.header > div {
 margin-left: auto; /* Pushes the view booking container to the right */
}

.header h6 {
 font-size: 14px;
 font-weight: 600;
 color: #585858;


}


/* Body styles */
.one .body {
 position: relative; /* Add this to make child elements positioned correctly */
 width: 100%; /* Adjust as needed */
 padding: 0px 20px;
}

/* Table styles */

.unconfirm-table {
 width: 100%;
 margin-top: -5px;
 overflow: hidden;
 border-collapse: separate;
 border-spacing: 0;
 font-family: Arial, sans-serif;
 font-size: 14px;
}

.unconfirm-table thead {
 padding: 10px 0; /* Adjust padding for header */
 background-color: #ffffff;
 text-align: left;
 margin-bottom: 10px; /* Space between thead and tbody */
}

.unconfirm-table thead th {
 padding: 10px 6px; /* Added padding for headers */
 font-weight: 600;
}

.unconfirm-table tbody td {
 padding: 10px 6px; /* Increased padding for table data */
}

.unconfirm-table tbody tr {
 margin: 15px 0; /* Gap between rows */
 border: 1px solid whitesmoke;
 border-radius: 20px; /* Rounded corners for rows */
 background-color: #fff;
}

.unconfirm-table tbody tr:hover {
 background-color: #f9f9f9;
}

.unconfirm-table tbody tr:first-child {
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.unconfirm-table tbody tr:last-child {
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}


.status { 
 font-weight: 500;          
 padding: 2px 6px;           
 border-radius: 5px;        
 color: #0f0c0c;                
 font-size: 0.9em;            
}

.status.confirmed { 
 background-color: #64ff64; /* Soft green */
} 

.status.pending { 
 background-color: #f7d35f;  /* Soft yellow */
}   

.status.cancelled { 
 background-color: #f84b4b;   /* Soft red */
 color: white; /* Text color for cancelled status */
}

/* Second Row Container - Div Two */
.second-row-container .two {
 width: 50%; /* Set width to 40% */
 background-color: #fff; /* Card background color */
 border-radius: 8px; /* Rounded corners */
 box-shadow: 0 2px 5px rgba(201, 201, 201, 0.5); /* Box shadow for depth */
 display: flex;
 flex-direction: column; /* Adjust flex direction to column */
 position: relative; /* Position for absolute children */
}

.two .body {
 position: relative; /* Add this to make child elements positioned correctly */
 width: 100%; /* Adjust as needed */
 padding: 0px 20px;
}

.two .header {
 width: 100%; /* Full width for the header */
 padding: 10px 20px 0px 20px; /* Padding around the header */
 display: flex; /* Enable flexbox */
 justify-content: center; /* Center contents horizontally */
 height: 50px; /* Fixed height for the header */
 align-items: center;
 text-align: left;
 
}

.pending-table {
 width: 100%;
 margin-top: -5px;
 overflow: hidden;
 border-collapse: separate;
 border-spacing: 0;
 font-family: Arial, sans-serif;
 font-size: 14px;
}

.pending-table thead {
 padding: 10px 0; /* Adjust padding for header */
 background-color: #ffffff;
 text-align: left;
 margin-bottom: 10px; /* Space between thead and tbody */
}

.pending-table thead th {
 padding: 10px 6px; /* Added padding for headers */
 font-weight: 600;
}

.pending-table tbody td {
 padding: 10px 6px; /* Increased padding for table data */
}

.pending-table tbody tr {
 margin: 15px 0; /* Gap between rows */
 border: 1px solid whitesmoke;
 border-radius: 20px; /* Rounded corners for rows */
 background-color: #fff;
}

.pending-table tbody tr:hover {
 background-color: #f9f9f9;
}

.pending-table tbody tr:first-child {
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.pending-table tbody tr:last-child {
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}



/* .two .body {
 flex-grow: 1; 
 display: flex; 
 align-items: center; 
 justify-content: center; 
 padding: 30px;
 position: relative;
}

.two canvas {
 width: 5%;
 height: 5%;
 padding-right: 0; /* Removes any extra padding to the right 
} */


.confirm-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 20px;
  position: relative;
}

.confirm-container .one {
 width: 100%; /* Set width to 70% */
 height: 32vh; /* Set height to 40% of the viewport height */
 background-color: #fff; /* Card background color */
 border-radius: 8px; /* Rounded corners */
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.confirm-container .one .header {
 font-size: 12px;
 width: 100%; /* Full width for the header */
 padding: 10px 20px 0px 20px; /* Padding around the header */
 /* border-bottom: 1px solid #ddd; /* Border between header and body  */
 display: flex; /* Enable flexbox */
 justify-content: center; /* Center contents horizontally */
 height: 50px; /* Fixed height for the header */
 align-items: center;
}

.confirm-table {
 width: 100%;
 margin-top: -5px;
 overflow: hidden;
 border-collapse: separate;
 border-spacing: 0;
 font-family: Arial, sans-serif;
 font-size: 14px;
}

.confirm-table thead {
 padding: 10px 0; /* Adjust padding for header */
 background-color: #ffffff;
 text-align: left;
 margin-bottom: 10px; /* Space between thead and tbody */
}

.confirm-table thead th {
 padding: 10px 6px; /* Added padding for headers */
 font-weight: 600;
}

.confirm-table tbody td {
 padding: 10px 6px; /* Increased padding for table data */
}

.confirm-table tbody tr {
 margin: 15px 0; /* Gap between rows */
 border: 1px solid whitesmoke;
 border-radius: 20px; /* Rounded corners for rows */
 background-color: #fff;
}

.confirm-table tbody tr:hover {
 background-color: #f9f9f9;
}

.confirm-table tbody tr:first-child {
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.confirm-table tbody tr:last-child {
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}



















/* Optional: Add some responsiveness */
@media (max-width: 600px) {
 .card {
     min-width: 100px; /* Adjust minimum width for smaller screens */
 }
}
