/* Misc */
.horizontal-line {
 width: 100%; /* Full width */
 height: 1px; /* Line thickness */
 background-color: #ccc; /* Grey color */
 margin: 10px 0; /* Space above and below the line */
}

/* Main Content Section */
.main-content {
  margin-left: 0;
  transition: margin-left 0.5s ease; 
  position: relative;
}

/* Adjust margin when the sidebar is active */
.main-content.active {
 margin-left: 225px;
}

.container-wrapper {
 padding: 0px 30px 0px 5px;
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
 gap: 10px;
}

/* info-container Section */
.info-container {
  width: 100%;
  background-color: #F6F6F6; 
  border-radius: 10px; 
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px 25px;
}

.header-counts {
 width: 100%;
 padding: 10px 0px 10px 5px;
}

.header-counts h6 {
 margin: 0; /* Removes default margin */
 text-align: left;
 color: rgb(255, 255, 255); /* Sets the text color with reduced opacity */
 font-size: .9rem; /* Adjusts font size */
 font-weight: bold;
 letter-spacing: 0.5px; /* Adds slight spacing between letters */
}


.count-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to a new row when needed */
  border: 1px solid black;
  width: 100%;
  height: auto; /* Adjust height based on content */
  gap: 16px; /* Adds spacing between cards */
  padding: 10px;
  justify-content: space-between; /* Distributes cards evenly */
}

.count-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 1 1 calc(25% - 16px); /* Default to 4 cards per row, minus gap */
  max-width: calc(25% - 16px);
  box-sizing: border-box; /* Includes padding/border in size */
}

.count-card .card-header {
  display: flex;
}

.card-header .card-name {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-header .card-name h5 {
  font-size: 18px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .count-card {
    flex: 1 1 calc(50% - 16px); /* Two cards per row */
    max-width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .count-card {
    flex: 1 1 calc(100% - 16px); /* One card per row */
    max-width: calc(100% - 16px);
  }
}









