@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
 font-family: 'Inter', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}


body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Misc */
.horizontal-line {
 width: 100%; /* Full width */
 height: 1px; /* Line thickness */
 background-color: #ccc; /* Grey color */
 margin: 10px 0; /* Space above and below the line */
}

/* Main Content Section */
.main-content {
  margin-left: 0; /* Start with no margin to account for hidden sidebar */
  transition: margin-left 0.5s ease; /* Smooth transition for margin */
  position: relative; /* Keep it relative for positioning */
}

/* Adjust margin when the sidebar is active */
.main-content.active {
 margin-left: 250px; /* Add margin to account for visible sidebar */
}





/* Sidebar styling */
.sidebar {
 width: 200px;
 height: 100vh;
 background-color: #343a40;
 padding: 0px 25px 0px 10px;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1000;
 overflow-y: auto;
 display: flex;
 flex-direction: column;
 border-right: 1px solid #444; 
 box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3); 
 transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
 transform: translateX(-100%);
}

/* Sidebar Logo */
.sidebar img {
 width: 100%;
 object-fit: contain;
 padding: 15px 30px 15px 15px;
}

/* Dashboard Title */
.dashboard-title {
 font-size: 0.85rem;
 color: #adb5bd; /* Lighter gray text for muted titles */
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 0.5px;
 margin: 15px 30px 0px 0px;
 cursor: pointer;
 padding: 10px;
 transition: background-color 0.2s ease;
}

/* Section Titles */
.sidebar .section-title {
 font-size: 0.85rem;
 color: #adb5bd; /* Lighter gray text for section titles */
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 0.5px;
 margin: 30px 0 5px;
 cursor: pointer;
 padding: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: background-color 0.2s ease;
}

.sidebar .section-title:hover {
 background-color: #495057; /* Darker background on hover */
 color: #ffffff; /* White text on hover */
}

/* Chevron Icon */
.chevron-icon {
 transition: transform 0.3s ease;
}

.sidebar .section-title .chevron-icon {
 font-size: 0.9rem;
 color: #adb5bd; /* Default chevron color */
}

/* Links inside the Sidebar */
.sidebar a {
 display: flex;
 align-items: center;
 padding: 10px 12px;
 border-radius: 6px;
 color: #e9ecef; /* Light color for links */
 text-decoration: none;
 font-size: 0.95rem;
 transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar a:hover {
 background-color: #495057; /* Darker background on hover */
 color: #ffffff; /* White text on hover */
}

/* Submenu styles */
.sidebar .submenu.open + .section-title .chevron-icon {
 transform: rotate(180deg); /* Rotate the chevron when submenu is open */
}

/* Links inside Submenu */
.sidebar .submenu a {
 display: flex;
 align-items: left;
 padding: 8px 15px;
 border-radius: 6px;
 color: #e9ecef; /* Light color for submenu links */
 text-decoration: none;
 font-size: 0.95rem;
 transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar .submenu a:hover {
 background-color: #495057; /* Darker background on hover */
 color: #ffffff; /* White text on hover */
}

/* Add Booking Button */
.sidebar .add-booking {
 
 padding: 6px 12px;
 border-radius: 6px;
 color: #ffffff;
 background-color: #ff0015; /* Blue background */
 text-decoration: none;
 font-size: 0.95rem;
 font-weight: 600;
 text-align: center;
 transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar .add-booking:hover {
 background-color: #b3001e; /* Darker blue on hover */
 color: #e9ecef; /* Light text on hover */
}

.sidebar .add-booking i {
 color: #ffffff;
 margin-right: 8px;
}

/* Icon styles */
.sidebar i {
 margin-right: 8px;
 color: #adb5bd; /* Lighter gray icons */
}

/* Submenu visibility */
.sidebar .submenu {
 display: none;
 padding-left: 7px;
 transition: max-height 0.3s ease-in-out, opacity 0.3s ease;
}

.sidebar .submenu.open {
 display: block;
 animation: slideDown 0.3s ease-in-out;
}


@keyframes slideDown {
 from {
   max-height: 0;
   opacity: 0;
 }
 to {
   max-height: 500px;
   opacity: 1;
 }
}




/* Dashboard Title */
.dashboard-title {
 font-size: 0.85rem;
 color: #6c757d; /* Muted section title */
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 0.5px;
 margin: 15px 30px 0px 0px;
 cursor: pointer;
 padding: 10px;
 transition: background-color 0.2s ease;
}


/* Navbar Section */
.navbar {
 padding: 10px 15px 5px 0px; 
 display: flex;
 align-items: center; 
 background-color: transparent;
 z-index: 999; 
 margin-bottom: 0px;
 position: sticky;
}

.navbar-brand {
    margin-left: 0px; /* Add some space to the left */
    margin-bottom: 2px;
}

.navbar-toggler {
    margin-left: auto; /* Ensures the toggler is at the end */
}

/* Toggle button styles */
.toggle-btn {
    display: flex;
    align-items: center; /* Aligns the icon vertically */
    cursor: pointer;
    margin-right: 0px; /* Optional: Add some space to the right */
    border: none;
    border-radius: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1100; /* Keep it above the sidebar */
    color: #000;
}


.nav-item.dropdown {
 display: flex; /* Make the dropdown a flex container */
 align-items: center; /* Align itemsfvertically centered */
}

.profile-container {
 display: flex; /* Use flexbox for the name and position */
 align-items: start;
 flex-direction: column; /* Stack name and position vertically */
 margin-left: 8px; /* Space between image and text */
}

.profile-container h6 {
 font-weight: bold; /* Bold for the name */
 margin: 0; /* Remove margin */
}

.profile-container span {
 font-size: 8px; /* Smaller font for position */
 color: gray; /* Gray color for the position */
 margin: 0; /* Remove margin */
 font-weight: 500; /* Lighter font weight for thinner text */
 line-height: 1; /* Reduce line height to make the text more compact */
}

.profile-image {
 border-radius: 50%; /* Circular image */
}

.date-time-container {
 gap: 10px; /* Adds space between the date and the icon */
 padding: 10px;
 border-radius: 15px;
 color: #000000;
 text-align: baseline;
}

.date-time-container h6 {
 margin: 0;
 font-size: 14px; /* Adjust the font size as needed */
}

.date-time-container i {
 font-size: 16px; /* Adjust the icon size if necessary */
 color: #000; /* Icon color, adjust as needed */
}

.vertical-line-navbar {
 width: 1px; /* Line width */
 background-color: rgb(167, 167, 167); /* Line color */
 height: 40px; /* Adjust height to fit the navbar */
 margin: 10px 10px; /* Spacing around the line */
}

/* Profile Section */
.profile-container {
 display: flex;
 margin-top: auto;
}

.profile-image {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 margin-right: 10px;
 object-fit: cover;
}

.profile-container h6 {
 font-weight: 600;
 font-size: 0.95rem;
 color: #333;
 margin: 0;
}

.profile-container span {
 font-size: 0.85rem;
 color: #6c757d;
}